ion-content {
    --background:#F8F4E8;
  }
  .catalogo-tit {
    padding: 20px;
    background-color:#e8c86a;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
  }
  
  .title1 {
    font-size: 20px;
    color: #8C5738;
    margin-bottom: 20px;
  }
  
  .text {
    font-size: 18px;
    color: #6D6D6D;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .button {
    --background:#ca6128;
    --color: white;
    width: 200px;
  }