<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="catalogo-tit">Mi tienda en linea</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h4 class="title1">"Un mundo de opciones en un solo destino" </h4>
    <h4 class="title1"> ¡Bienvenido a nuestra tienda en linea!</h4>
    <p class="text">"Te damos la bienvenida a nuestra tienda en línea, donde cada prenda cuenta una historia y cada accesorio añade un toque especial."</p>
    <ion-button class="button" expand="full" routerLink="/catalogo">Comenzar</ion-button>
  </div>
</ion-content>
