<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list>
      <ion-item [routerLink]="['/Principal']">
        <ion-icon name="desktop-outline" slot="start"></ion-icon>
        <ion-label>Principal</ion-label>
      </ion-item>
      <ion-item [routerLink]="['/catalogo']">
        <ion-icon name="cart-outline" slot="start"></ion-icon>
        <ion-label>Catalogo</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>